# Composer
/composer.phar
/vendor

# Site configuration
/config.php

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# User themes
/public/themes/*
!/public/themes/index.html
!/public/themes/default

# PHPStorm settings
/.idea

# Volatile data
/var
